
body {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
}

.form-register {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;

    .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-control:focus {
        z-index: 2;
    }
}