<div class="modal-header">
  <h4 class="modal-title">
    <i class="fas fa-filter"></i>
    Search Filter
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group text-left">
    <label class="d-block font-weight-bold">Gender</label>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="genderAny">
        <input [(ngModel)]="userListFilter.gender" class="form-check-input" type="radio" name="gender" id="genderAny" [value]="-1">
        Any
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="genderMale">
        <input [(ngModel)]="userListFilter.gender" class="form-check-input" type="radio" name="gender" id="genderMale" [value]="0">
        Male
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="genderFemale">
        <input [(ngModel)]="userListFilter.gender" class="form-check-input" type="radio" name="gender" id="genderFemale" [value]="1">
        Female
      </label>
    </div>
  </div>
  <div class="form-group text-left">
    <label class="d-block font-weight-bold">Interest</label>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="interestAny">
        <input [(ngModel)]="userListFilter.interest" class="form-check-input" type="radio" name="interest" id="interestAny" [value]="-1">
        Any
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="interestMale">
        <input [(ngModel)]="userListFilter.interest" class="form-check-input" type="radio" name="interest" id="interestMale" [value]="0">
        Male
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="interestFemale">
        <input [(ngModel)]="userListFilter.interest" class="form-check-input" type="radio" name="interest" id="interestFemale" [value]="1">
        Female
      </label>
    </div>
  </div>
  <div class="form-group text-left">
    <label class="d-block font-weight-bold">Age</label>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="ageAny">
        <input [(ngModel)]="userListFilter.age" class="form-check-input" type="radio" name="age" id="ageAny" [value]="-1">
        Any
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="ageMale">
        <input [(ngModel)]="userListFilter.age" class="form-check-input" type="radio" name="age" id="ageMale" [value]="0">
        Teens (18-30)
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="ageFemale">
        <input [(ngModel)]="userListFilter.age" class="form-check-input" type="radio" name="age" id="ageFemale" [value]="1">
        Adults (31+)
      </label>
    </div>
  </div>
  <button class="btn btn-link d-block ml-auto" (click)="resetFilter()">reset filter</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onApplyFilter()">Apply</button>
  <button type="button" class="btn btn-default" (click)="onClose()">Cancel</button>
</div>